# Django settings
SECRET_KEY=******* # sicret key Django
DEBUG=True

# server parameters
NAME=django_project
USER=postgres
PASSWORD=nokia5230
HOST=localhost
PORT=5432

# Email yandex app parameter
EMAIL_USER=svid.aleksei@ya.ru
PASSWORD_EMAIL_USER=qenjdeddpymybsyu
