{% extends 'base.html' %}

{% block title %}{{ object.subject }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-12 text-center">Подробности сообщения</h1>
    <p class="lead text-center">Ознакомьтесь с полным содержанием сообщения.</p>

    <div class="row justify-content-md-center mt-4">
        <div class="col-md-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    Сообщение: {{ object.subject }}
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Тема:</dt>
                        <dd class="col-sm-9">{{ object.subject }}</dd>

                        <dt class="col-sm-3">Текст:</dt>
                        <dd class="col-sm-9">{{ object.body|linebreaksbr }}</dd>
                    </dl>

                    <a href="{% url 'mailings_message:list_messages' %}" class="btn btn-secondary btn-sm">Назад к списку сообщений</a>
                    <a href="{% url 'mailings_message:update_message' object.id %}" class="btn btn-info btn-sm">Редактировать</a>
                    <a href="{% url 'mailings_message:delete_message' message.id %}" class="btn btn-danger btn-sm">Удалить</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}