{% extends 'base.html' %}

{% block title %}{{ mailing.message.subject }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Детали рассылки "{{ mailing.message.subject }}"</h2>
    <dl class="row">
        <dt class="col-sm-3">Тема:</dt>
        <dd class="col-sm-9">{{ mailing.message.subject }}</dd>

        <dt class="col-sm-3">Начало:</dt>
        <dd class="col-sm-9">{{ mailing.start_time|date:"d F Y H:i" }}</dd>

        <dt class="col-sm-3">Окончание:</dt>
        <dd class="col-sm-9">{{ mailing.end_time|date:"d F Y H:i" }}</dd>

        <dt class="col-sm-3">Статус:</dt>
        <dd class="col-sm-9">{{ mailing.get_status_display }}</dd>

        <dt class="col-sm-3">Контент:</dt>
        <dd class="col-sm-9">{{ mailing.message.body|linebreaksbr }}</dd>
    </dl>
    <a href="{% url 'mailings' %}" class="btn btn-secondary">Назад к рассылкам</a>
</div>
{% endblock %}